html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#center_google_btn{

width: 200px;
height: auto;
margin: auto;

}

#jumbotron_stability
{

    height: 300px;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.montserrat_text{
  font-family: 'Montserrat', sans-serif;
}

#stability_main_title
{

  font-size: 40px;

}

#stability_jumbotron_text
{
  font-size: 26px;
}

#stability_jumbotron_text_second_header
{
  padding-top: 10px;
  font-size: 20px;
}

#stability_jumbotron_text_supportedby_text
{
  padding-top: 10px;
  font-size: 14px;
}

#deakin_logo_image
{

    margin-top: 16px;

}

#app_do_text
{

  font-size: 20px;
  font-weight: bold;

}

#para_app_do
{

  margin-top: 10px;
  font-size: 12px;

}
