html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/********************* Navbar.html **************************/

#logout_button
{
  margin-right: 20px;
}

/******************** Login.html ***************************/

#center_google_btn
{

width: 200px;
height: auto;
margin: auto;

}

#register_user
{

  margin-top: 100px;

}

#jumbotron_login
{

    

}
/**************** Stability.html **********************/

#jumbotron_stability
{

    height: 300px;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.montserrat_text{
  font-family: 'Montserrat', sans-serif;
}

#stability_main_title
{

  font-size: 40px;

}

#stability_jumbotron_text
{
  font-size: 26px;
}

#stability_jumbotron_text_second_header
{
  padding-top: 10px;
  font-size: 20px;
}

#stability_jumbotron_text_supportedby_text
{
  padding-top: 10px;
  font-size: 14px;
}

#deakin_logo_image
{

    margin-top: 16px;

}

#app_do_text
{

  font-size: 20px;
  font-weight: bold;

}

#para_app_do
{

  margin-top: 10px;
  font-size: 12px;

}

#login_btn
{
  margin-top: 20px;
  height:30px;
  font-size: 11px;
}
/*
#google_btn{
  display: block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/


/********************* Map Pag ************************/

#map
{

  height: 1000px;
  width: 100%;
  /*position: absolute; */

}

#wrapper
{

   position: relative;
   height: 100%;
   width: 100%;

}

/************************ Popup ***************************/

#pop_up{
  display: none;
  height:400px;
  width:300px;
  background: #f8ed62;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.pop_up_text_space
{

    padding-top: 10px;

}

#closeButton{

  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top:5px;

}

#closeIcon
{

   width: 40px;
   height: 40px;
   background-image: url('images/close4.png');
   background-repeat: no-repeat;
   border: none;

}

#pop_up_text
{

    font-size: 11px;

}
